.page-title{
    text-align: center;
    color: lightseagreen;
}
.review-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
@media screen and (max-width:688px) {
    .review-section{
        grid-template-columns: 1fr;
}}