.main-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.main-section img{
    margin:0 auto;
    border-radius: 20px;
}
.reviews-section{
    text-align: center;
}
